* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  background: transparent;
}

#render {
  position: fixed;
  left: 0;
  top: 0;
}

.window {
  position: absolute;
  background: #222;
  color: #fff;
  border: 0;
  box-shadow: 0 0.50rem 1rem rgba(48,55,66,.15);
  font-family: Roboto;
  user-select: none;
}

.window .title {
  padding: .8rem;
  padding-bottom: 0;
}

.window .body {
  flex: 1 1 auto;
  padding: .8rem;
  padding-bottom: 0;
}

.window {
  resize: both;
}

.btn {
  position: absolute;
  display: inline-block;
  padding: auto;
  font-size: 15px;
  text-align: center;
  background: rgba(255,255,255,.075);
  color: #eee;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all .2s;
}

.btn:hover {
  background: rgba(52, 152, 219, .9);
}

.btn:active {
  background: rgba(52, 152, 219);
}

.lbl {
  font-size: 13px;
}

.edit {
  position: absolute;
  color: #fff;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(255,255,255,.075);
  border: 0 solid #000;
}

.edit[type=text]:focus {
  border: none;
}

.textarea {
  font-family: Roboto;
  position: absolute;
  color: #fff;
  padding-left: 15px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(255,255,255,.075);
  border: 0 solid #000;
}
